<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" href="#/">Nitrogen</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#/principals/user">Users</a></li>
                    <li><a href="#/principals/device">Devices</a></li>
                    <li><a href="#/messages">Messages</a></li>
                </ul>
                <ul class="nav pull-right">
                    {{#if App.user}}
                        <li><a>{{App.user.name}}</a></li>
                        <li><a {{action signout}}> Sign Out </a></li>
                    {{else}}
                        <li>{{#linkTo user.create}} Get Started {{/linkTo}}</li>
                        <li>{{#linkTo user.login}} Sign In {{/linkTo}}</li>
                    {{/if}}
                </ul>
            </div>

        </div>
    </div>
</div>

{{outlet}}
