<!-- navigation -->
<div class="container">
    <div class="row">
        <div class="span10"></div>
        <div class="span1">
            {{#if controller.hasPreviousPage}}
                {{#linkTo messages previousPage}}Previous{{/linkTo}}
            {{/if}}
        </div>
        <div class="span1">
            {{#if controller.fullPage}}
                {{#linkTo messages nextPage}}Next{{/linkTo}}
            {{/if}}
        </div>
    </div>
</div>

{{view App.MessagesTableView contentBinding='controller.content'}}
