<div class="container">

  {{#each message in controller.sorted}}

        <div style="float:left">

            <div style="display:inline">
                 {{message.timestamp}}<br/>

            {{#if message.isImage}}
                <img {{bindAttr src="message.body.url"}} width="320" height="240" />
            {{/if}}

            {{#if message.isLog}}
                {{message.body.severity}}: {{message.body.message}}
            {{/if}}

            </div>
        </div>

  {{/each}}

</div>