<table class="table">
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Last Connection</th>
        <th>Last IP</th>
        <th></th>
    </tr>

    {{#each principal in controller}}
        {{view App.PrincipalRowView}}
    {{/each}}

</table>

