@import "bootstrap-sass/lib/bootstrap";

.navbar {
  background-color: #407bba;
}

.navbar .nav > li > a {
  color: #EEE;   
}

.navbar > .container .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #508bca;
  color: #FFF;   
}

.white-caret
{
  border-top-color: white !important;
  border-bottom-color: red !important;
}

/* Fix up bootstrap navbar underflow issues */

body {
  padding-top: 60px;
}
