@import "bootstrap-sass/lib/bootstrap";

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
}

/* Fix up bootstrap navbar underflow issues */

body {
  padding-top: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}