<div class="well">

    <form class="form-horizontal">
        <div class="control-group">
            <div class="controls">
                <legend style="border:0">Sign in</legend>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="text" id="email" placeholder="Email" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" placeholder="Password" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button {{action login}} class="btn btn-primary">Sign in</button>
                {{#linkTo user.create class="btn"}}Create account{{/linkTo}}
            </div>
        </div>
    </form>

</div>
