<div class='row' style='margin-top:20px'>
    <div class='span12'>
        <div class="input-append">
            {{view Ember.TextField valueBinding="view.claimCode" classNames='span2' placeholder='Claim code for device'}}
            <button class="btn" {{action claim target="view"}}>Claim</button>
        </div>
    </div>
</div>