<table class="table">
    <tr>
        <td>
            <h4 style="float: pull-left">LOCATION</h4>
        </td>
        <td width="100%">    
            <button type="button" {{action 'sendLocation' target="view"}} class="btn btn-default" style="margin-left: 15px">
                Send current location
            </button>
        </td>
    </tr>
</table>
<hr/>
