<tr>
    <td colspan="5">
		Claim device: 
		{{view Ember.TextField valueBinding="view.claimCode" classNames='span2' placeholder='Claim code'}} 
		<a class="btn btn-primary" {{action claim target="view"}}>Claim</a>    
	</td>
</tr>