It looks you own device {{message.body.principal}}.  Would you like to claim this device for your account?
<a class="btn btn-primary" {{action claim message target="view"}}>Claim</a>
<a class="btn btn-primary" {{action reject message target="view"}}>Reject</a>