<div class='container'>
    <div class='row'>
        <div class='span12'>
            <h4>PRINCIPALS</h4>
        </div>
    </div>
    <div class='row' style='border-bottom: 1px solid'>
        <div class='span4'><b>ID</b></div>
        <div class='span2'><b>NAME</b></div>
        <div class='span1'><b>TYPE</b></div>
        <div class='span2'><b>LAST CONTACT</b></div>
        <div class='span3'><b>LAST IP</b></div>
    </div>

    {{#each principal in controller}}
        {{view App.PrincipalRowView principalBinding='principal'}}
    {{/each}}

    {{view App.ClaimView}}
</div>