<table class="table">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>CAPABILITIES</th>
        <th>LAST CONTACT</th>
        <th></th>
    </tr>

    {{#each principal in controller}}
        {{view App.PrincipalRowView principalBinding='principal'}}
    {{/each}}
</table>